<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466294779525-m5ddknqqrra40kj81qd7jgeffmevdg7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466294779525-m5ddknqqrra40kj81qd7jgeffmevdg7o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466294779525-9dovqn7uncqednb44edlmjjqs5ej60mk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9QRYM6m8PlgUO5HPLRBJGHvPpKyD_nI8</string>
	<key>GCM_SENDER_ID</key>
	<string>466294779525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimofinf.dimStore</string>
	<key>PROJECT_ID</key>
	<string>dimstore-79ed4</string>
	<key>STORAGE_BUCKET</key>
	<string>dimstore-79ed4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466294779525:ios:7184fa50f5b392895183ec</string>
</dict>
</plist>